*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: black;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 30px;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 3px purple;
    font-style: italic;
}

footer img {
    height: 50px;
    width: 50px;
}
footer{
    display: flex;
    justify-content: center;    
    text-align: center;
}
footer a{
    margin: 170px;
    margin-bottom: 5px;
    background-color: black;
}
.container{
    padding: 0px 50px;
}
nav a:hover{
    color: green;
}
footer a:hover{
    color: green;
}